fastapi
uvicorn[standard]
python-dotenv
requests
streamlit
numpy
pytz
nest-asyncio

google-generativeai
langchain-google-genai

qdrant-client
flashrank

langchain
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain-groq
langchain-google-vertexai
langchain-community
langchain-openai
pydantic>=2.0.0

unstructured
python-pptx
python-docx
pypdf
beautifulsoup4
pdfplumber

langsmith
logfire[fastapi,requests]
loguru

nemoguardrails
langchain-nvidia-ai-endpoints

portkey-ai

ragas
deepeval
chromadb
langfuse

sentence-transformers
langchain_google_genai

langchain-google-vertexai
